{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-8 blog-main">

            <div id="welcome">
                <h1>RESTRICTED</h1>
                <h1><span>Welcome to</span> Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }}
                </h1>
            </div>

            <div id="status">
                <p>
                    Your application is now ready. You can start working on it at:
                    <code>{{ base_dir }}</code>
                </p>
            </div>

            <div id="next">
                <h2>What's next?</h2>
            </div>

        </div>
    </div>
{% endblock %}